{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Empolyer signup</title>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
        </script>

    </head>



    <script>
        $(function(){
            $('#id_executive_authority_1').on('click', function(){
                $('#id_exec_first_name, label[for="id_exec_first_name"]').show();
                $('#id_exec_last_name, label[for="id_exec_last_name"]').show();
                $('#id_exec_title, label[for="id_exec_title"]').show();
                $('#id_exec_email, label[for="id_exec_email]').show();
                $('#id_exec_phone_number, label[for="id_exec_phone_number"]').show();
            });
        });

        $(function(){
            $('#id_executive_authority_0').on('click', function(){
                $('#id_exec_first_name, label[for="id_exec_first_name"]').hide();
                $('#id_exec_last_name, label[for="id_exec_last_name"]').hide();
                $('#id_exec_title, label[for="id_exec_title"]').hide();
                $('#id_exec_email, label[for="id_exec_email]').hide();
                $('#id_exec_phone_number, label[for="id_exec_phone_number"]').hide();
            });
        });

    </script>

    <body id="top">
         <div class="jumbotron">
              <h1 class="display-4">Welcome to Employer Signup!!</h1>
              <p class="lead">Please choose your Plan by filling the form below..</p>
              </p>
         </div>


         <div class="container">
                <div class="form-group">
                    <form method="POST">
                    {% csrf_token %}
                    {{ employee_form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
          </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
